- name: Deploy hardened sshd_config
  template:
    src: sshd_config.j2
    dest: /etc/ssh/sshd_config
    mode: '0644'
  notify: Restart ssh

- name: Disable root login via password (optional)
  lineinfile:
    path: /etc/ssh/sshd_config
    regexp: '^PermitRootLogin'
    line: 'PermitRootLogin prohibit-password'
    state: present
  notify: Restart ssh

- name: Ensure ssh service is running
  service:
    name: ssh
    state: started
    enabled: yes

- name: Tighten sysctl for networking (minimal set)
  sysctl:
    name: net.ipv4.ip_forward
    value: 1
    state: present
    reload: yes

handlers:
  - name: Restart ssh
    service:
      name: ssh
      state: restarted

