- name: Ensure dependencies
  apt:
    name:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
    update_cache: yes

- name: Install containerd (from distro)
  apt:
    name: containerd
    state: present

- name: Create containerd config
  template:
    src: containerd-config.toml.j2
    dest: /etc/containerd/config.toml
    mode: '0644'

- name: Restart containerd
  service:
    name: containerd
    state: restarted
    enabled: yes

